<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.min.css}">
</head>
<body>

<h2>Form page</h2>
<form th:action="@{/submitEmployee}" th:object="${employee}" method="post">
    <div class="form-group row">
        <input type="text" class="d-none" th:field="${employee.id}">
    </div>

    <div class="form-group row">
        <label>Firstname:</label>
        <input type="text" th:field="${employee.firstname}">
    </div>

    <div class="form-group row">
        <label>Lastname:</label>
        <input type="text" th:field="${employee.lastname}">
    </div>

    <div class="form-group row">
        <label>Salary:</label>
        <input type="text" th:field="${employee.monthlySalary}">
    </div>

    <div class="form-group row">
        <label>Department:</label>
        <select th:field="${employee.department.id}">
            <option th:each="department : ${departmentList}" th:value="${department.id}" th:text="${department.name}"></option>
        </select>
    </div>

    <div class="form-group row">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>

</body>

<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</html>