<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello From Spring</title>

    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.min.css}">

</head>
<body>

<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled">Disabled</a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>




<h1>Hello from Spring Boot</h1>
<p>Hello World</p>
<p th:text="${greetings}"></p>
<p th:text="${myText}"></p>

<ul class="list-group"  th:each="fruit : ${fruits}">
    <li class="list-group-item" th:text="${fruit}"></li>
</ul>

<div th:each="fruit : ${fruits}">
    <p th:text="${fruit}"></p>
</div>

<table class="table table-success table-striped">
    <thead>
        <tr>
            <td>Name</td>
            <td>Salary</td>
            <td>Department</td>
        </tr>
    </thead>
    <tbody>
    <tr th:each="employee : ${employeeList}">
        <td th:text="${employee.name}"/>
        <td th:text="${employee.salary}"/>
        <td th:text="${employee.department}"/>
    </tr>
    </tbody>
</table>

<table class="table table-info table-striped">
    <thead>
    <tr>
        <td>Name</td>
        <td>Salary</td>
        <td>Department</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="employee : ${employeeList}">
        <td th:text="${employee.name}"/>
        <td th:text="${employee.salary}"/>
        <td th:text="${employee.department}"/>
    </tr>
    </tbody>
</table>

<div>
    <button class="btn btn-primary">Click me</button>
    <button class="btn btn-danger">Click me</button>
    <button class="btn btn-warning">Click me</button>
</div>


</body>

<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>

</html>